@import "theme-variables";
@import "defaults";
@import "lib/css-grid-utility";

// .primary-container {
// 	display: grid;
// 	grid-template-rows: 60px auto 60px;
// 	min-height: 100vh;
// }
h1{
  color: #2c3161;
  margin-top: 40px;
  
  text-align: center;
}

.primary-container main {
  min-height: calc(100vh - 60px - 81px);
}

.header-outside{
  background-color: #f5fcff;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  max-width: 1240px;
  padding: 12px 20px 6px 20px;
}
.site-navigation {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    display: inline-block;
    margin-left: 20px;
  }
  a {
    font-weight: bold;
    color: #2c3161;
    text-decoration: none;
    &:hover {
      color: #001d3d
    }
  }
  a[aria-current="page"] {
    color: #001d3d
  }
  .menu-trigger {
    display: none;
    font-size: 40px;
    background: none;
    border: none;
    color: #2c3161;
    padding: 0;
    cursor: pointer;
  }
  @media (max-width: $breakpoint-lg) {
    .menu-trigger,
    .icon-menu-line {
      display: flex;
    }

    .icon-menu-close {
      display: none;
    }
    .menu-trigger.is-active {
      .icon-menu-line {
        display: none;
      }
      .icon-menu-close {
        display: flex;
      }
    }
    .menu-trigger.is-active + ul {
      display: block;
    }
    ul {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 1;
      width: 100%;
      border-color: #2c3161;
      border-width: 10px;
      border-style: none none solid none;
      border-radius: 0 0 0 0px;
      overflow: hidden;
      background-color: #f5fcff;

    }
    ul li {
      display: block;
      margin-left: 0;
    }
    a {
      display: block;
      padding: 20px;
      color: #2c3161;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
}
.site-logo {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  a {
    margin-left: 1px;
    color: #2c3161;
    text-decoration: none;
    &:hover {
      color: #001d3d;
    }
  }
  @media (max-width: $breakpoint-lg) {
    font-size: 35px;
  }
}

.site-logo .site-logo-nudz{
  margin-left: 20px;
}

.participate-container{
  background-color: #2c3161;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.participate-container-inner {
  max-width: 1240px;
  padding: 0 20px;
  margin: auto;
  text-align: right;
}

.participate-container a{
  color: #fff;
}


.home-banner {
  padding: 60px 0;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  .title {
    font-size: 48px;
    line-height: 48px;
    margin: 0 0 5px;
    font-weight: 900;
    color: #2c3161;
  }
  .description {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 30px;
  }
  .featured-image {
    border-radius: 12px;
  }
  @media (max-width: $breakpoint-md) {
    grid-template-columns: none;
  }

  @media (max-width: $breakpoint-sm) {
    padding: 30px 0;
    .title {
      font-size: 38px;
    }
    .tagline {
      margin-top: 3px;
    }
  }
}

.home-banner .description a {
  color:#2c3161;
}

.home-banner .description a:hover {
  color:#001d3d;
}

.home-banner.grids{
  column-gap: 0;
}

.home-banner .button:hover{
  color: #fff;
  background-color: #001d3d;
}

.social-icons {
  font-size: 35px;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
  margin-left: 20px;
  @media (max-width: $breakpoint-md) {
    margin-top: 10px;
    margin-left: 0px;
  }
}

.home-banner-img{
  margin: auto;

  @media (max-width: $breakpoint-md) {
    max-width: 180px;
  }
}


.home-posts {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 25px 40px 25px;
  margin-bottom: 40px;
  border-radius: 20px;

  .grids {
    padding-bottom: 30px;
  }

  > h2{
    font-size: xx-large;
    text-align: center;
    color:#2c3161;
    margin-top: 0px;
  }

  .button{
    max-width: 275px;
    text-align: center;
  }
}

.news-home-list > h2{
  text-align: center;
  color: #2c3161;
  font-size: 35px;
  font-weight: 900;
}

.news-home-list > .button{
  display: block;
  text-align: center;
  width: 180px;
  margin: auto;
}

.news-home-list > .button:hover{
  background-color: #001d3d;
  color: #fff;
}

.news-post-content{
  max-width: 800px;
  margin: auto;
}

.news-flex{
  display: flex;
  flex-direction: column;
}

.news-flex .news-card{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  width: 100%;
  margin: 0 auto 30px auto;

  padding-bottom: 5px;
  border-bottom: 3px solid #2c3161;

}

@media (max-width: 500px) {
  .news-flex .news-card{
    flex-direction: column;
    text-align: center;
  }

  .news-flex .news-content{
    margin-left: 0 !important;
  }
}

.news-flex .news-content{
  margin-left: 30px;
}

.news-flex .featured-image{
  border-radius: 5px;
}

.news-flex .featured-image{
  border-radius: 5px;
}


.news-flex .title{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: larger;
}

.news-flex .meta{
  color: #3c3539;
  font-size: medium;
  margin-top: 0;
  margin-bottom: 0px;
}

.news-flex .description{
  margin-top: 5px;
  margin-bottom: 0;
}

.news-flex .news-content a{
  color: #2c3161;
}

.blog-home-posts{
  background-color: #fff;
}

.blog-home-posts .grids{
  padding-bottom: 15px;
  row-gap: 10px;
}

.about-page .home-posts {
  padding-left: 0px;
  padding-right: 0px;
}

.contactActive {
  max-width: 70ch;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.5;
  font-size: 20px;
}

.contactActive h3{
  text-align: center;
}

.contactActive > a{
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: xx-large;
  color: #2c3161;
}

.contact-page .mail-container > p {
  text-align: center;
}

.contact-page .adress-container > p{
  text-align: center;
}

.adress-container{
  margin-bottom: 50px;
}

.contact-page .mail-container .to-form {
  margin-bottom: 0px;
}

.contact-page .mail-container .contact-mail{
  color: #2c3161;
}

.publications-home-posts{
  .grids{
    row-gap: 0px;
    padding-bottom: 10px;
  }
}

.publication-additional-info{
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.publication-additional-info > div{
  display: flex;
  justify-items: start;
}

.publication-info-key{
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 50px;
  flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
}

.publication-info-value{
  font-size: 20px;
}

.publication-info-pdf > a{
  background: #2c3161;
  padding: 5px 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}

.publication-info-pdf > a:visited,
.publication-info-pdf > a:hover{
  color: #fff;
}

.post-card-container{
  position: relative;
}

.blog-status-panel{
  position: absolute;
  top: 70%;
  height: 30%;
  width: 100%;
  z-index: 20;
  background-color: rgba(0, 76, 163, 0.8);;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 12px 12px;

  span{
    color: #fff;
    font-size:larger;
  }
}

.title-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media-flex{
  text-align: center;
}

.media-content .title {
  margin-top: -5px;
  margin-bottom: 0px;
  font-size: larger;
}

.publication-content .title > a{
  color: #2c3161;

}

.media-content .title {
  margin-bottom: 5px;
  font-size: larger;
}

.tool-content .title > a{
  color: #2c3161;

}

.media-content p {
  margin-top: 0;
}

.media-content .title > a{
  color: #2c3161;
}

.media-card{
  margin-bottom: 15px;
}

.medium-info{
  color: #2c3161;
  margin-bottom: 0px;
  font-size: small;
}


.title-box > h1{
  //text-align: start;
}

.title-box .button{
  display: inline-block;
  max-width: 200px;
}

.blog-page .blog-status-panel{
  display: none;
}

.blog-page h1:first-child{
  margin-top: 30px;
}


.blog-page h1{
  margin-top: 80px;
}

.publication-grid, .tool-grid{
  row-gap: 0px;
}

.publications-home-posts .publication-card a{
  color: #2c3161;
}

.publications-home-posts .publication-card .meta {
  color: #001d3d;
}

.team-home-posts{
  background-color: #f5fcff;

  .grids{
    width: 95%;
    row-gap: 50px;
  }
}

.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
  .featured-image {
    border-radius: 12px;
    img {
      display: block;
      margin: 0;
    }
  }
  .title {
    margin: 0 0 3px;
    font-size: 20px;
    font-weight: 600;
    // a {
    // 	color: var(--post-link-color);
    // }
  }
  .meta {
    margin: 0;
    font-size: 12px;
    // color: rgba(0,0,0,0.5);
  }
  .post-content {
    margin-top: 16px;
  }

  .post-content a{
    color: #2c3161;
  }


  @media (max-width: $breakpoint-md) {
    padding: 0;
    .post-content {
      padding: 16px;
      margin-top: 0;
    }
    .featured-image {
      border-radius: 12px;
    }
  }
}
.article-header {
  padding: 15px 0 10px 0;
  text-align: center;
  margin: 0 auto;
  h1 {
    font-size: 36px;
    font-size: clamp(18px, calc(1rem + 2vw), 36px);
    margin: 0 auto 6px;
    max-width: 768px;
    line-height: 1.3;
    font-weight: 600;
  }
  time {
    font-size: 14px;
  }
}
@media (max-width: $breakpoint-sm) {
  .post-card .featured-image {
    //min-height: 300px;
  }
}

.team-member .featured-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

.head-member{
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

@media (max-width: $breakpoint-sm){
  .blog-page .head-member{
    
    flex-direction: column;
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .head-member .member-card:first-child{
    margin-bottom: 25px;
  }

  .blog-page .head-member .member-card .gatsby-image-wrapper{
      max-width: 48px;
    }

  
}

.team-member .featured-banner .gatsby-image-wrapper{
  border-radius: 50%;
  max-width: 256px;
}

.team-member-content > p,
.blog-post-content > p,
.page > .wrapper > article > p{
  text-align: justify;
}

article{
  color: #001d3d;
}
article figure {
  margin: 40px 0;
  text-align: center;
  figcaption {
    font-size: var(--font-size-small);
    color: var(--text-color-meta);
    margin-top: 5px;
  }
}
article blockquote {
  margin-left: 0;
  padding: 5px 5px 5px 20px;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
}
article iframe {
  border: 2px solid black;
  box-sizing: border-box;
}
article img {
  max-width: 100%;
}
.blog-post-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.5;
  font-size: 20px;
}

.blog-post {
  .featured-image {
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.smallSponsor {
  max-width: 100px;
  margin: auto;
}

.member-card {
  display: flex;
  justify-content: space-between;
  

}

.member-card > a {
  display: flex;
  justify-content: center;
}

.member-card .gatsby-image-wrapper{
  max-width: 48px;
}

.member-card img{
  height: auto;
  border-radius: 50%;

}

.member-card > div {
  width: 80%;
}

.member-card h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
}

.member-card p {
  margin: 0;
  padding-left: 10px;
  font-size: medium;
}

.member-card .member-card-content h2 a{
  color: #2c3161;
}


.blog-page .member-card {
  @media (min-width: $breakpoint-sm){
    flex-direction: column;
    align-items: center;
    text-align: center;


    .gatsby-image-wrapper{
      max-width: 100px;
    }

    h2 {
      margin: 10px 0 2px 0;
    }
  }
}

.publication-content h2{
  font-size: larger;
  margin-bottom: 2px;
}

.publication-content p{
  margin-top: 0;
}

.aboutLinks-container{
  align-self: flex-start;
}

.aboutLinks-container .aboutLink-card{
  margin-bottom: 15px;
}

.aboutLinks-container h3{
  font-size: larger;
  margin-bottom: 0px;
}

.aboutLinks-container p{
  margin-top: 2px;
}

.aboutLinks-container a{
  color: #2c3161;
}

.aboutLinks-container a:hover{
  color: #001d3d;
}

.about-page .aboutLinks{
  max-width: 768px;
  margin: 0 auto;
}

.about-page .wrapper a{
  color: #001d3d;
}

// Buttons
.button {
  --padding: 15px;
  --margin: 20px;
  display: inline-flex;
  align-items: center;
  padding: var(--padding) calc(var(--padding) * 2);
  border-radius: 12px;
  text-decoration: none;
  appearance: none;
  border: none;
  font-size: 16px;
  line-height: 1;
  transition: background 0.3s linear;
  background-color: #2c3161;
  color: #fff;
  &.-outline {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    background-color: #001d3d;
    &:hover {
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
      background-color: #001d3d;
    }
  }
  & + .button {
    margin-left: 20px;
  }
  .icon {
    display: inline-flex;
    &.-right {
      margin-left: 5px;
    }
    &.-left {
      margin-right: 5px;
    }
  }
}

// Page
.page,
.blog-page,
.contact-page,
.thanks-page,
.not-found-page {
  padding: 5px 20px 50px 20px;
  .wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
}

.blog-page{
  padding: 0px 20px 20px 20px;

}

.blog-page > h1{
  margin-bottom: 10px;
}

.blog-page .inActive-title {
  margin-top: 60px;
}

.blog-post .sponsors{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $breakpoint-sm){
    grid-template-columns: repeat(1, 1fr);
  }
}

.blog-post .sponsors figure{
  max-width: 200px;
  margin: auto;
  padding: 10px;
}

.blog-post .sponsors figure:last-child:nth-child(odd) {
  @media (min-width: $breakpoint-sm){
    grid-column: span 2;
  }
}

// Contact page
.contact-page {
  .wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .description {
    line-height: 1.5;

  }
}

.contact-page .description a {
  color: #001d3d;
}

.contact-page .contact-info{
  text-align: center;
}

.contact-page .description{
  text-align: center;
  margin-bottom: 50px;
}

.formDescription{
  margin: 35px 0 20px 0;
}

.contact-form {
  max-width: 700px;
  margin: 0px auto 0px auto;
  p{
    margin: 0 0 5px 0;
  }

  label {
    color:#001d3d
  }
  input,
  textarea {
    width: 100%;
    max-width: 100%;
    margin: 5px 0 5px 0;
    padding: 10px;
    appearance: none;
    font-size: 18px;
    font-weight: 600;
    border-color: #2c3161;
    border-width: 3px;

    &:focus {
      border-color: #2c3161;
      border-radius: 0;
    }
  }
  textarea {
    min-height: 200px;
  }
}
.site-footer {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
  margin: 50px auto 0 auto;
  padding: 10px 20px 20px 20px;
  background-color: #2c3161;
  
}

.footer-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-links .nudz-link > img{
  height: 100px;
}

.footer-links .l3lf-link > img{
  height: 75px;
}

.footer-links .facebook-link > svg,
.footer-links .github-link > svg{
  color: white;
  width: 35px;
  height: 35px;
}

.footer-links .l3lf-link {
  margin-left: 10px;
}

.small-logos{
  margin-right: 12px;
}

.footer-links .facebook-link,
.footer-links .github-link {
  color: white;
  margin-left: 25px;
}

.footer-links .facebook-link:hover,
.footer-links .github-link:hover {
  color: #fff;
  margin-left: 25px;
}


.footer-text{
  color: white;
}

.footer-text p{
  margin: 0;
}

.footer-text a{
  text-decoration: underline;
}

@media (max-width: 420px) {
  .footer-links{
    flex-direction: column;
  }

  .footer-links .facebook-link,
  .footer-links .facebook-link:hover,
  .footer-links .l3lf-link {
    margin-top: 5px;
    margin-left: 0px;
    color: white;
  }

  .small-logos{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    margin-right: 0px;
  }

  .footer-links .github-link,
  .footer-links .github-link:hover{
    margin-left: 5px;
    color: white;
  }
}

figcaption {
  display: none;
}

.participate-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.participate-card{
  width: 33.3%;
  min-width: 300px;
  padding: 25px;
}

@media (max-width: 940px) {
  .participate-card{
    width: 50%;
    min-width: 300px;
    padding: 0 25px;
    margin-bottom: 30px;
  }
}

@media (max-width: 640px) {
  .participate-card{
    width: 80%;
    min-width: 300px;
    padding: 25px;
  }
}


.media-flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.participate-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination {
  text-align: center;
  padding: 50px 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    display: inline-block;
    margin: 0 5px;
  }
  a {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    line-height: 1;
    &.is-active {
      color: var(--header-bg);
      pointer-events: none;
    }
  }
  &.-post {
    text-align: inherit;
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 50px 0 0;
    ul {
      display: flex;
      justify-content: space-between;
    }
    li:nth-child(1) {
      text-align: left;
    }
    li:nth-child(2) {
      text-align: right;
    }
    p {
      font-size: 14px;
      margin: 0 0 5px;
      color: #3c3539;
    }
    a {
      font-weight: normal;
      font-size: 16px;
      padding: 0;
    }
    .page-title {
      line-height: 1.3;
    }
  }
  @media (max-width: $breakpoint-md) {
    padding: 50px 0 ul {
      display: flex;
      justify-content: space-between;
    }
    &.-post ul {
      display: grid;
      justify-content: normal;
      a {
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: block;
        margin-bottom: 10px;
        border: 1px solid #3c3539;
        border-radius: 8px;
      }
    }
    .num {
      display: none;
    }
  }
}

@import "utility";

// Libraries
@import "lib/prism-default";
